<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>



  <ul>
  <% @ratings.each do |rating| %>
      <tr>
        <li><%= rating %></li>
      </tr>
  <% end %>
  </ul>

<%= link_to "create new rating", 'ratings/new' %>
