<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>


  <% @ratings.each do |rating| %>
    <li><%= rating.to_s %> <%= link_to rating.user.username, rating.user%></li>
  <% end %>
<% if not current_user.nil? %>

<%= link_to "Create new rating", new_rating_path , class:"btn btn-success"%>
<% end %>
