<h2>List of ratings</h2>

<p> Number of ratings: <%= @ratings.count %> </p>

<table class="table">
  <tbody>
  <% @ratings.each do |rating| %>
    <tr>
    <td><%= rating.to_s %> </td>
    <td> <%= link_to rating.user.username, rating.user %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<% if not current_user.nil? %>

    <%= link_to "Create new rating", new_rating_path , class:"btn btn-success"%>
    <% end %>

